bw
localdev
update.sh
badass.sh
.metadata
.project
.DS_Store
.classpath
.settings
eclipse-target
activemq-data
.metadata
**/.springBeans
**/bin
*~
**/.clover
.idea
*.iml
target/classes
debian/autodeploy-agent
target
