Source: autodeploy-agent
Section: unknown
Priority: extra
Maintainer: Jonathan Colby <jcolby@ci38-1.mobile.rz>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: autodeploy-agent
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
